header {
  background-color: #264653;
}
.custom-btn {
  background-color: #e76f51;
  padding: 0.8rem 4rem;
  border: 1px solid transparent;
  border-radius: 5px;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}
.custom-btn:hover {
  background-color: red;
  border: 1px solid #ffffff;
}
.orange-text {
  color: #e76f51;
  font-weight: 600;
}
.greyscale {
  filter: grayscale(100%);
}
